* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #f3f1e9;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: space-between;
}

.recordContainer {
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add,
.subtract {
  font-size: 6rem;
  width: 35%;
  height: 100%;
  border: none;
}

.add,
.subtract,
.resetButton {
  background-color: #202020;
}

.add:hover,
.subtract:hover,
.resetButton:hover {
  cursor: pointer;
  background-color: #404040;
}

.counter {
  font-size: 6rem;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard {
  font-size: 2rem;
  color: #202020;
}

.recordMin,
.recordMax {
  text-align: center;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter,
.recordMin,
.recordMax {
  background-color: #363636;
}

.resetButton {
  height: 100%;
  width: 30%;
  border: none;
  font-size: 2rem;
}

.bgWrite {
  position: absolute;
  color: #202020;
  font-size: 8rem;
}

.min,
.max {
  z-index: 10;
  font-size: 3rem;
}
