* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: #f3f1e9;
  cursor: none; /*tolgo il cursore standard*/
}

body {
  overflow: hidden;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: space-between;
}

.recordContainer {
  height: 30vh;
  display: flex;
  justify-content: space-between;
}

.add,
.subtract {
  font-size: 6rem;
  width: 35%;
  height: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #202020;
}

.add:hover,
.subtract:hover,
.memo:hover,
.recordMin:hover,
.recordMax:hover,
.counterContainer:hover {
  background: #404040;
  transition: all 0.3s;
}

.counterContainer {
  position: relative;
  font-size: 6rem;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  position: absolute;
  bottom: 0px;
  font-size: 2rem;
  color: #202020;
  width: 80px;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info:hover {
  color: #363636;
  transition: all 0.3s;
}

.recordMin,
.recordMax {
  text-align: center;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counterContainer,
.recordMin,
.recordMax,
.chiaro {
  background: #363636;
}

.min,
.max {
  z-index: 10;
  font-size: 3rem;
}

.bgWrite {
  position: absolute;
  color: #202020;
  font-size: 8rem;
}

.memoContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 30%;
  height: 100%;
  background: #202020;
}

.memo {
  font-size: 2.5rem;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#m1,
#m2,
#m3,
#m4,
#m5 {
  color: #404040;
}

/* creo il nuovo cursor */
div.cursors div {
  position: absolute;
  width: 32px;
  height: 32px;
  background: #202020;
  border-radius: 50%;
  z-index: 100;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

/* creo le scritte informative a scomparsa */
div.cursors div span {
  position: absolute;
  top: 7px;
  left: 40px;
  width: 300px;
  opacity: 0;
  transition: all 0.3s;
}

div.cursors div span.visible {
  opacity: 1;
}
